
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="{{ path('app_home') }}">home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('property_index') }}">Nos biens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_property_index') }}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('option_index') }}">Option</a>
            </li>
        </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} text-center">
            {% for message in messages %}
                {{ message | raw }}
            {% endfor %}
        </div>
    </div>
{% endfor %}


