{#{% cache 'property'~property.id property.updatedAt.timestamp|default(date('2018-01-01 00:00:00').timestamp)  %}#}
    <div class="card h-100">
      {% if property.picture %}
            <a href="{{ path('property_show', {id: property.id, slug :property.slug}) }}">
                <img src="{{ vich_uploader_asset(property.picture, 'imageFile') | imagine_filter('thumb') }}" alt="imape du bien" class="card-img-top" >
            </a>
        {% else %}
            <a href="{{ path('property_show', {id: property.id, slug :property.slug}) }}">
                <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="image du bien" class="card-img-top" >
            </a>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                {{ property.title }}
            </h5>
            <p class="card-text">
                {{ property.roomNumber }} pièces - {{ property.surface }} m²
            </p>
            <p class="card-text">
                {{ property.city }} ({{ property.postalCode }})
            </p>
            <div style="font-size: 1.5em; font-weight: bold">
                {{ property.formattedPrice }} €
            </div><br>
            <p class="text-muted">
                Publié le {{ property.createdAt|date('d/m/Y') }}
            </p>
            <a  href="{{ path('property_show', {id: property.id, slug :property.slug}) }}" class="btn btn-primary ">Voir le bien</a>
        </div>
    </div>
{#{% endcache %}#}